Source: postgresql-numeral
Section: database
Priority: optional
Maintainer: Christoph Berg <myon@debian.org>
Build-Depends:
 bison,
 debhelper (>> 9),
 flex,
 postgresql-server-dev-all (>= 153~),
Standards-Version: 3.9.8
Vcs-Git: https://github.com/ChristophBerg/postgresql-numeral.git
Vcs-Browser: https://github.com/ChristophBerg/postgresql-numeral
Homepage: https://github.com/ChristophBerg/postgresql-numeral

Package: postgresql-9.6-numeral
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, postgresql-9.6
Description: numeral datatypes for PostgreSQL
 This module provides numeric data types for PostgreSQL that use
 numerals (words instead of digits) for input and output.
 .
  * zahl: German numerals (eins, zwei, drei, ...)

